/* General Body Style */
body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    background-image: url(./images/Body_Background.jpg);
    background-size: 100%;
    font-style: normal;
}

/* Navigation Bar Style */
nav {
    background-color: #77c3d6d1;
    padding: 15px;
    text-align: left;
}

nav img {
    vertical-align: middle;
    margin-right: 100px;
}

nav a {
    color: #13293d;
    text-decoration:none;
    padding: 10px;
    font-weight:bold;
}

nav a:hover {
    background-color: white;
    border-radius: 5px;
    font-weight: bolder;
    color:#dc2f02;
}

#back-to-top {
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
}

/* Footer Style */
#footer {
    background-color: #77c3d6d1;
    padding: 15px;
    text-align: center;
    color: #13293d;
    margin-top: 40px;
    font-style: normal;
}